.header {
  min-height: 90px;
  background-color: #171d1f;
  border-bottom: 1px solid #3e3e3f;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;

}
  .navigation {
    ul {
      list-style: none;
      display: flex;
      gap: 18px;

      li {
        a {
          color: white;
          text-decoration: none;
          font-size: 22px;

          &:hover {
            color: #81fe88;
            text-decoration: underline;
          }
        }
      }
    }
  }

  p {
    font-size: 24px;
    color: #81fe88;
  }

