.container_data {
  height: 130vh;
  background-color: #000000;

  @media (min-width: 1024px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.card_data {
  position: relative;
  height: fit-content;
  background-color: #171d1f;
  border: 1px solid #3e3e3f;
  border-radius: 8px;
  margin: 10px;

  @media (min-width: 1024px) {
    width: 50%;
  }

  .header_card_data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10px;
    color: #81fe88;
  }

  div.negotiating {
    position: absolute;
    inset: 0;
    background-color: rgba(188, 188, 188, 0.4);
    border: 1px solid #3e3e3f;
    border-radius: 8px;
  }

  .negotiating p {
    background-color: #ed4b4e;
    color: #132e35;
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    border-radius: 8px;
    padding: 20px 0;
    transform: translateY(-50%);
    text-align: center;
    font-weight: 600;
    font-size: 18px;
  }
}

.container_stock_products {
  .list_items_data {
    position: relative;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        background-color: #3e3e3f;
        color: #bcbcbc;

        display: flex;
        justify-content: space-between;
        border-radius: 8px;

        margin: 10px;
        padding: 10px;
      }
    }

    button {
      font-weight: 600;
      position: absolute;
      top: -10px;
      right: 10px;
      border: none;
      border-radius: 4px;
      background-color: #ed4b4e;
    }
  }
}

.container_sold_products {
  .list_items_data {
    position: relative;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        background-color: #3e3e3f;
        color: #bcbcbc;

        display: flex;
        justify-content: space-between;
        border-radius: 8px;

        margin: 10px;
        padding: 10px;
      }
    }

    .buttons_list_item_data {
      position: absolute;

      display: flex;
      gap: 10px;
      top: -10px;
      right: 10px;

      button {
        font-weight: 600;
        border: none;
        border-radius: 4px;
      }
    }
  }
}

.Chart_data {
  display: inline-block;
  width: 90%;
  margin-top: 20px;
  padding: 20px;
  background-color: #171d1f;
  border-radius: 8px;
  height: 90%;
}

.data-info {
  width: 100%;
  display: flex;
  flex-direction: row;
}
